.stripHeader{
  .stripTitle{
    font-size: 12px;
    font-family: 'Mulish', sans-serif;
    line-height: 15.06px;
  }

  .horizontalLine{
    width:100%;
    height: 1px;
    background-color:#FFFFFF ;
    opacity: 33%;
    margin-top:12px;
  }
}
